.navbar {
  height: 4.5rem !important;
}

.navbar-burger {
  @media(max-width: 1007px)  {
    top: 10px;
  }
}

.navbar-menu {

  &.is-active {
    position: relative;
    z-index: 100;
    background-color: white;
    top: -53px;

    @media (max-width: 375px) {
      margin-top: 42px;
    }

    @media (max-width: 667px) {
      margin-top: 74px;
    }
    @media (max-width: 768px) {
      margin-top: 15px;
    }
  }

}

.navbar.shadow {
  box-shadow: 0 4px 3px -3px #dedede;
}

.navbar-brand > a.navbar-item {
  @media (max-width: 375px) {
  	position: relative;
    width: 80%;
    top: 14px;
  }
}

.navbar-img {
  position: relative;
  top: 15.5px;
  max-height: 5.5rem !important;

  @media(max-width: 1007px)  {
    max-height: 4.5rem !important;
    top: -7px;
  }

  @media (max-width: 667px) {
    top: 22px;
  }

  @media (max-width: 768px) {
    max-height: 4.5rem !important;
    top: -4px;
  }

  @media (max-width: 375px) {
    top: 9px;
  }
}

.navbar-brand > a:hover {
  background-color: white !important;
}
