.navbar {
  height: 4.5rem !important;
}

.navbar.shadow {
  box-shadow: 0 4px 3px -3px #dedede;
}

.navbar-img {
  position: relative;
  top: 22.5px;
  max-height: 3.5rem !important;
}

.navbar-brand > a:hover {
  background-color: white !important;
}
