.gallery-container {
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;

  background-color: #f5f5f5;
  width: 1300px;
  height: 725px;
}

button.slick-arrow {
}

.slick-prev:before,
.slick-next:before {
  color: #333;
}

.slick-prev {
  left: 35px;
}

.slick-next {
  right: 35px;
}

ul.slick-dots {
  position: relative;
  top: 0px;
}

.img-container {
  width: 1142px;
  height: 657px;
  overflow: hidden;
  margin: 0 auto;
}

.img-wrapper {
  display: inline-block;
  position: relative;
  right: -50%;
}

.img-wrapper img {
  position: relative;
  left: -50%;
  top: -250px;
}

