.gallery-container {
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;

  background-color: #f5f5f5;
  width: 100%;

  @media (max-width: 667px) and (max-width: 375px) {
    padding-top: 5px;
  }

  @media only screen and (min-width: 375px) {
    padding-top: 5px;
    height: 300px;
  }

  @media only screen and (min-width: 667px) {
    height: 325px;
  }

  @media only screen and (min-width: 768px) {
    padding-top: 20px;
    height: 600px;
  }

  @media only screen and (min-width: 1024px) {
    padding-top: 10px;
    height: 680px;
  }

}

.slick-arrow {

  @media not screen and (min-width: 1080px) {
    display: none !important;
  }

}

.slick-prev:before,
.slick-next:before {
  color: #333;
}

.slick-prev {
  left: 35px;
  z-index: 99;
}

.slick-next {
  right: 35px;
}

ul.slick-dots {
  position: relative;
  top: 1px;
}



ul.slick-dots > li {
  @media (max-width: 375px) {
    margin: 0 2.5px;
  }
}

.img-container {
  margin: 0 auto;

  @media only screen and (min-width: 375px) {
    max-width: 350px;
  }

  @media only screen and (min-width: 667px) {
    max-width: 380px;
  }

  @media only screen and (min-width: 768px) {
    max-width: 730px;
  }

  @media only screen and (min-width: 1024px) {
    max-width: 850px;
  }

}

.img-wrapper {
  display: inline-block;
  position: relative;
  right: -50%;
}

