.thumb.column:hover {
  cursor: pointer;
}

.thumb > figure {
  position: relative;
  width: 228px;
  height: 171px;
}

.add-shadow {
  position: relative;
  display: inline-block;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.add-shadow::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.add-shadow:hover {
  -webkit-transform: scale(1.025, 1.025);
  transform: scale(1.025, 1.025);
}


.add-shadow:hover::after {
  opacity: 1;
}

.thumb-title {
  text-align: left;
  position: absolute;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  top: -25px;
}

.thumb-title::first-letter {
  font-size: 150%;
  font-weight: bolder;
}


